.altura{
    padding: 100px 0;
}
.logo{
    width: 150px 0;
    padding: auto;   
}

 .izquierda{
    text-align: left;
 }

 .container2 {
    display: flex;
    align-items: center;
  }

  .container2 img {
    width: 400px; /* Ajusta el ancho de la imagen según tus necesidades */
    margin-right: 40px; /* Espacio entre la imagen y el texto */
  }